NATION="NationName"
AUTOLOGIN="rjK,CEu9b6T5A45zkvHtA" # see https://www.nationstates.net/pages/api.html#authenticating for info
URL="https://www.nationstates.net/cgi-bin/api.cgi?nation=${NATION}&q=unread"
